/* DEFAULT button shortcode styles */
a.button {
    background: #ccc;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 25px;
    display: inline-block;
    text-transform: uppercase;
    margin: 5px 5px 5px 0;
    border: 0;

    &:hover,
    &:focus {
        background: darken(#ccc, 10%);
    }

    /* SIZE button styles */
    &.small {
        padding: 10px 15px;
        font-size: 0.9em;
    }
    &.large {
        padding: 30px 35px;
        font-size: 1.2em;
    }

    /* TYPE button styles */
    &.primary {
        background: #226CFF;
        &:hover,
        &:focus {
            background: darken(#226CFF, 10%);
        }
    }
    &.warning {
        background: #FF2247;
        &:hover,
        &:focus {
            background: darken(#FF2247, 10%);
        }
    }
    &.info {
        background: #FFDA22;
        &:hover,
        &:focus {
            background: darken(#FFDA22, 10%);
        }
    }
    &.action {
        background: #4FBE00;
        &:hover,
        &:focus {
            background: darken(#4FBE00, 10%);
        }
    }

}
