/* DEFAULT button shortcode styles */
a.lbdesign_button {
    background: #777;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 25px;
    display: inline-block;
    text-transform: uppercase;
    margin: 5px 5px 5px 0;
    border: 0;
    line-height: 1.2;

    &:hover,
    &:focus {
        background: darken(#777, 10%);
        color: #fff;
    }

    /* SIZE button styles */
    &.lbdesign_small {
        padding: 10px 15px;
        font-size: 0.8em;
    }
    &.lbdesign_large {
        padding: 25px 30px;
        font-size: 1.5em;
    }

    /* TYPE button styles */
    &.lbdesign_primary {
        background: #226CFF;
        &:hover,
        &:focus {
            background: darken(#226CFF, 10%);
        }
    }
    &.lbdesign_warning {
        background: #FF2247;
        &:hover,
        &:focus {
            background: darken(#FF2247, 10%);
        }
    }
    &.lbdesign_info {
        background: #FFDA22;
        &:hover,
        &:focus {
            background: darken(#FFDA22, 10%);
        }
    }
    &.lbdesign_action {
        background: #4FBE00;
        &:hover,
        &:focus {
            background: darken(#4FBE00, 10%);
        }
    }

    /* FULL WIDTH BUTTON */
    &.lbdesign_full_width {
        display: block;
        width: 100%;
        text-align: center;
    }
}
